@use "sass:math";
@use "variables" as *;

[data-hidden="true"] {
  visibility: hidden;
  pointer-events: none;
}

[data-hidden="false"] {
  visibility: visible;
}

.vjt-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}

// Support multiple tour instances with dynamic IDs
[id$="-backdrop"]{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $vjt__backdrop_background;
  z-index: $vjt__backdrop_z_index;
  
  &:not([data-hidden="true"]) {
    pointer-events: auto;
  }
}

[id$="-tooltip"] {
  background-color: $vjt__tooltip_background;
  color: $vjt__tooltip_color;
  padding: 0.5rem;
  border-radius: $vjt__tooltip_border_radius;
  font-size: $vjt__tooltip_font_size;
  z-index: $vjt__tooltip_z_index;
  max-width: $vjt__tooltip_max_width;
  position: absolute;
  pointer-events: auto;
}


[id$="-tooltip"][data-arrow^='t'] {
  [id$="-arrow"] {
    bottom: math.div(-$vjt__tooltip_arrow_size, 2);
    right: 50%;
  }
}

[id$="-tooltip"][data-arrow^='b'] {
  [id$="-arrow"] {
    top: math.div(-$vjt__tooltip_arrow_size, 2);
    right: 50%;
  }
}

[id$="-tooltip"][data-arrow^='l'] {
  [id$="-arrow"] {
    right: math.div(-$vjt__tooltip_arrow_size, 2);
    top: 50%;
  }
}

[id$="-tooltip"][data-arrow^='r'] {
  [id$="-arrow"] {
    left: math.div(-$vjt__tooltip_arrow_size, 2);
    top: 50%;
  }
}

[id$="-arrow"] {
  width: $vjt__tooltip_arrow_size;
  height: $vjt__tooltip_arrow_size;
  position: absolute;
  z-index: -1;

  &::before {
    content: "";
    width: $vjt__tooltip_arrow_size;
    height: $vjt__tooltip_arrow_size;
    background-color: $vjt__tooltip_background;
    transform: rotate(45deg);
    position: absolute;
  }
}

// Support multiple tour instances with dynamic highlight classes
[class*="vjt-highlight"] {
  outline: $vjt__highlight_outline;
  outline-offset: $vjt__highlight_offset;
  border-radius: $vjt__highlight_outline_radius;
  position: relative;
}

.vjt-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  gap: 0.5rem;

  button {
    width: 100%;
    padding: 0.25rem 1rem;
    border: $vjt__action_button_border;
    border-radius: $vjt__action_button_border_radius;
    background-color: $vjt__action_button_background;
    color: $vjt__action_button_color;
    font-size: $vjt__action_button_font_size;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      background-color: $vjt__action_button_background_hover;
      color: $vjt__action_button_color_hover;
    }
  }
}

// Screen-reader-only content (for accessibility announcements)
.vjt-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
