on:
  workflow_dispatch:

name: 3 Create Docs
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3

      - name: Build
        run : |
          npm ci
          npm run docs:build

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@6c2d9db40f9296374acc17b90404b6e8864128c8
        with:
          folder: docs/.vitepress/dist/
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}