on:
  workflow_dispatch:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

name: 1 Release Please
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@e4dc86ba9405554aeba3c6bb2d169500e7d3b4ee
        with:
          release-type: node